# Created by .ignore support plugin (hsz.mobi)
.idea
/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Hi
It is against of Terms of Service of Freelancer for me to share my email with you, so I couldn't share it on that platform.
I hope you understand my stand, mine is evgenijkolotov333@gmail.com.
